[submodule "matrix-js-sdk"]
	path = matrix-js-sdk
	url = https://github.com/matrix-org/matrix-js-sdk.git
[submodule "qml-request"]
	path = qml-request
	url = https://github.com/davidar/qml-request.git
[submodule "universal-components"]
	path = universal-components
	url = https://github.com/davidar/universal-components.git
